/* 전역 스타일 */

/* 전역 스타일 -> 기본설정 */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #333;
}

a{
    text-decoration: none;
}

/* 전역 스타일 -> SECTION & INNER */
.section{
    /* section를 기준으로 무언갈 배치하기 위해 (어떤것이 오든 되도록 inner에서 멈추기 위해) */ */
    position: relative;
}

.section .inner{
    max-width: 980px;
    /* margin: 0 auto; 는 중앙정렬기능이다. 단 반드시 width값이 있어야한다. */
    margin: 0 auto;
    /* border나 padding때문에 생기는 여백에 의해 사이즈가 변하는것을 방지 */
    box-sizing: border-box;
    /* inner를 기준으로 무언갈 배치하기 위해 (어떤것이 오든 되도록 inner에서 멈추기 위해) */
    position: relative;
}

/* 전역 스타일 -> BTN */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    /*   justify-content: center가 아닌 padding 값으로 조절 */
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    box-sizing: border-box;
    position: relative;
    color: #333;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* 전역 스타일 -> INPUT--TEXT */
.input--text {
    height: 34px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    /*   포커스 될때 파란색 가이드라인 제거. border로 제어가 좋다 */
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}

.input--text:focus {
    border-color: #51a7e8;
    /*   기존의 그림자를 유지하는 방법이다. */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rgba(81, 167, 232, 0.5);
}

.input--text::-webkit-input-placeholder {
    /* vender prefix(브라우저 업체별 접두사)를 통해 placeholder의 색을 조절 */
    color: #cacaca;
}

.input--text::-ms-input-placeholder {
    color: #cacaca;
}

.input--text::-moz-input-placeholder {
    color: #cacaca;
}

/* 전역 스타일 -> FOLAT CLEARFIX */
  .float--left {
    float: left;
  }
  .float--right {
    float: right;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

/* 전역스타일 -> SUMMARY */
.summary{

}

.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}

.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #797979;
    line-height: 1.5;
}


/* HEADER */
header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    background: #fff;
}

header .inner {
    height: 75px;
    
}

/* HEADER - LEFT COLUMN */
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo {
    margin-right: 10px;
}

header .logo a {
    /* 클릭할수 있게 선택자를 a로 지정하여 background image 속성으로 로고를 삽입한다. */
    /* 때문에, a 의 크기를 설정해 주기 위해 블럭요소로 바꿔준다. */
    display: block;
    width: 32px;
    height: 32px;
    background: url(../IMG/logo.svg);
    /* tag에 직접 이미지 삽입시 alt 기능을 위해 텍스트를 삭제 하지 않고 들여쓰기 기능을 활용하여 안보이게 보낸다. */
    text-indent: -9999px;
}

header .logo a:hover{
    background: url(../IMG/logo_on.svg);
}

header .main-menu {
    display: flex;
}

header .main-menu li a {
    /* margin-right: 10px; 대신 padding:10px 을 쓴다.  이는 선택 영역의 크기를 확대시켜준다. */
    /* 이때, 선택자를 a를 해야하고, padding값을 주기위해서는 블럭요소호 바꿔줘야한다. */
    display: block;
    padding: 10px;
    color: #3c4146;
}

header .main-menu li a:hover{
    color: #4078c0;
}

/* HEADER - RIGHT COLUMN */
header .sign-group {
    display: flex;
    height: 100%;
    align-items: center;
}

header .btn-group {
    /* order값이 높을수록 순서가 뒤로 밀려남 */
    order: 2;
    /* a태그(inline요소)사이의 띄어쓰기 공백을 없애기 위함이다. */
    display: flex;
}

header .btn-group .sign-in{
    margin-right: 4px;
}

#search-form {
    order: 1;
    margin-right: 12px;
}

#search{
    width: 160px;
    font-size: 14px;
}

#search+[type="submit"] {
    /* class값 없이 선택자 선정하는법 */
    display: none;
}

header .sub-menu {
    display: flex;
    margin-right: 10px;
}

header .sub-menu li a{
    font-size: 13px;
    display: block;
    padding: 8px;
    color: #3c4146;
}

header .sub-menu li a:hover{
    color: #4078c0;
}

/* VISUAL */
.section--visual {
    background-image: url(../IMG/bg.jpg);
    background-repeat: no-repeat;
    /* background 이미지의 기본위치 */
    background-position: bottom left;
    /* 화면의 크기에 맞게 공백없이 확대,축소한다. */
    background-size: cover;
    position: relative;
}

.section--visual::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; 와 같게 하려면, bottom:0; right:0;*/
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}

.section--visual .inner {
    padding: 160px;
}

.section--visual .summary__title{
    color: #fff;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),
                0 1px 25px rgba(0,0,0,0.75);
}

.section--visual .summary__description{
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),
                0 1px 25px rgba(0,0,0,0.75);
}